body{
   background-color: #f7f7f7;
   font-family: Verdana;
   max-width: 900px;
   margin: 0 auto;
}
.foto{
    border-radius: 50%;
}
#title,.subtitle,.postTitle{
    color: #4a2364;
}
#title{
    font-size: 40px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #505050;
}
a:hover{
    color: #303030; 
}
.postTitle{
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}
.postImagem{
    margin-bottom: 15px;
    width: 100%;
}
.postContent{
    margin: 0px;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post{
    background-color: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}
.contentList{
    list-style-type: circle;
}
