*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    margin: 0px 30px;
    
}
.container .paragrafo{
    width: 100%;
    padding: 20px 10px;
}

.primeiraDiv{
    align-items: center;
    justify-content: space-between;
    
}
.primeiraDiv .hs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.hs-1{
    margin-left: 20px;
}
.segundaDiv{
    margin: 0px 20px;
}
.terceiraDiv{
    padding-bottom: 20px;
}
.terceiraDiv ul{
    background-color: dodgerblue;
    width: 100%;
}
.terceiraDiv li{
    list-style-type: none;
    display: inline-flex;
    

}
.quartaDiv{

}