/*Pesquisar sobre web kits*/

/*Criando variáveis dentro do css*/
:root{
    /*Cores principais do site*/
    --vermelho: #E50914;
    --preta: #141414;
    --colorLinks: #AAA;
    --colorLinksHover: #fff;
}

/*Selecionando todos os elementos html*/
*{
    padding: 0px;
    margin: 0px;
    /*Para o elemento filho não ultrapassa a borda do elemento pai*/
    box-sizing: border-box;
}
/*********** CORPO DO SITE ***********/
body{
    background-color:var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color:#fff;
}

/************ CABEÇALHO DO SITE ************/
header .container{

}
header .container{
    /*Alinha por padrão elementos em linha(row)*/
    display: flex;
    flex-direction: row;
    /*Alinhando os elementos filhos ao centro da Box-model pai - Alinhamento Vertical*/
    align-items: center;
    /*Determina qual posição, horizontalmente, os elementos filhos vão ficar*/
    justify-content: space-between;
}
header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}
header nav a{
    /*Retirando sublinhado dos links*/
    text-decoration: none;

    color: var(--colorLinks);
    margin-right: 10px;
}
/*Mudando cor dos links ao passar mouse por cima*/
header nav a:hover{
    color: var(--colorLinksHover);
}
/*********** MIOLO DO SITE - FILME PRINCIPAL ***********/
.filme-principal{
    font-size: 16px;
    /*Usando imagem para background e gradiente para ler melhor o texto em cima da imagem*/
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("img/houseofcardsCapa.jpg");
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    /*Com flex-direction está em coluna, justify-content centraliza Verticalmente*/
    justify-content: center;
    /*Como flex-direction está em coluna, justify-content determina a posição Horizontal dos elementos*/
    align-items: flex-start;
}
.titulo{
    font-size: 40px;
}
.filme-principal .descricao{
    margin-bottom: 40px;
}